[Desktop Entry]
Name=Manuscript
GenericName=Manuscript
Comment=A distraction free writing environment
Categories=Office;
Exec=com.github.sixpounder.manuscript
Icon=com.github.sixpounder.manuscript
Terminal=false
Type=Application
Keywords=Writing;Markdown;
