button.theme-button {
    border-radius: 50%;
}
button.theme-button-light {
    background-color: #FFFFFF;
}

button.theme-button-sepia {
    background-color: @BANANA_100;
}

button.theme-button-dark {
    background-color: @BLACK_500;
}

sourceview {
    background-color: @bg_color;
}

.status-bar {
    transition: color 300ms ease-in-out;
    color: @SILVER_700;
    border: none;
    background-color: @bg_color;
    background-image: none;
}

.status-bar:hover {
    color: @BLACK_500;
}

.quick-open-panel {
    padding: 20px;
    background-color: @bg_color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.quick-open-panel list {
    background-color: @bg_color;
}

.quick-open-query-entry {
    margin-top: 5px;
}

.quick-open-entry {
    padding: 5px 10px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.p-4 {
    padding: 40px;
}

.character-sheet-editor entry.flat {
    background-color: transparent;
    padding: 10px 15px;
}

.character-sheet-editor entry.flat:focus {
    box-shadow: none;
}

.character-sheet-editor textview.view {
    padding: 10px 15px;
}
